@page 
@model DuelSysWebApp.Pages.HomePageModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
           @foreach(var item in Model.tournamentList)
        {
            <a asp-page="TournamentPage"  asp-route-ID="@item.id"><h2>@Html.DisplayFor(Tournament => item.SportType)</h2></a>
            <p><h3>@Html.DisplayFor(Tournament => item.StartTime)</h3></p>
           
          

           
        }
   

</div>