@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DuelSys</h1>
    <h2>Go to Home page to apply for a tournament!</h2>
 
</div>
